<h3>block #{{model.id}}</h3>
<table>
  <tr><td>hash:</td><td>{{model.hash}}</td></tr>
  <tr><td>parentHash:</td><td>{{#link-to 'block' model.parent.id}}{{model.parent.id}}{{/link-to}}</td></tr>
  <tr><td>number:</td><td>{{model.number}}</td></tr>
  <tr><td>timestamp:</td><td>{{model.timestamp}}</td></tr>
  <tr><td>nonce:</td><td>{{model.nonce}}</td></tr>
  <tr><td>difficulty:</td><td>{{model.difficulty}}</td></tr>
  <tr><td>gasLimit:</td><td>{{model.gasLimit}}</td></tr>
  <tr><td>gasUsed:</td><td>{{model.gasUsed}}</td></tr>
  <tr><td>miner:</td><td>{{model.miner}}</td></tr>
  <tr><td>extraData:</td><td>{{model.extraData}}</td></tr>
  <tr><td valign=top>transactions:</td><td>
    <table>
      {{#each model.transactions as |tx|}}
        <tr><td>{{#link-to 'transaction' tx}}{{tx}}{{/link-to}}</td></tr>
      {{/each}}
    </table>
  </td></tr>
</table>
